In [5]:
from tracemalloc import Snapshot
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats
import ast 
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

# Loading data from files

In [6]:
apps = pd.read_csv('jrs_data/apps.tsv', delimiter='\t',encoding='utf-8')
user_history = pd.read_csv('jrs_data/user_history.tsv', delimiter='\t',encoding='utf-8')
jobs = pd.read_csv('jrs_data/jobs.tsv', delimiter='\t',encoding='utf-8', error_bad_lines=False)
users = pd.read_csv('jrs_data/users.tsv' ,delimiter='\t',encoding='utf-8')
test_users = pd.read_csv('jrs_data/test_users.tsv', delimiter='\t',encoding='utf-8')

C:\Users\btr\AppData\Local\Temp\ipykernel_10568\60438194.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  jobs = pd.read_csv('jrs_data/jobs.tsv', delimiter='\t',encoding='utf-8', error_bad_lines=False)
Skipping line 122433: expected 11 fields, saw 12

Skipping line 602576: expected 11 fields, saw 12

Skipping line 990950: expected 11 fields, saw 12

C:\Users\btr\AppData\Local\Temp\ipykernel_10568\60438194.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs = pd.read_csv('jrs_data/jobs.tsv', delimiter='\t',encoding='utf-8', error_bad_lines=False)

In [3]:
apps.head()

   UserID  WindowID  Split          ApplicationDate   JobID
0      47         1  Train  2012-04-04 15:56:23.537  169528
1      47         1  Train  2012-04-06 01:03:00.003  284009
2      47         1  Train  2012-04-05 02:40:27.753    2121
3      47         1  Train  2012-04-05 02:37:02.673  848187
4      47         1  Train  2012-04-05 22:44:06.653  733748

In [4]:
user_history.head()

,UserID,WindowID,Split,Sequence,JobTitle
0,47,1,Train,1,National Space Communication Programs-Special ...
1,47,1,Train,2,Detention Officer
2,47,1,Train,3,"Passenger Screener, TSA"
3,72,1,Train,1,"Lecturer, Department of Anthropology"
4,72,1,Train,2,Student Assistant

In [5]:
jobs.head()

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US,20531,2012-03-07 13:17:01.643,2012-04-06 23:59:59
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US,28217,2012-03-21 02:03:44.137,2012-04-20 23:59:59
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US,32792,2012-03-02 16:36:55.447,2012-04-01 23:59:59
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:10.077,2012-04-02 23:59:59
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:11.88,2012-04-02 23:59:59

# Cleaning the text columns

In [133]:
removePattern = r'(<(.*?)>)|(&\w+)'
addSpacePattern = r'([;:])|(\\r)|(\\n)'
removeExtraSpaces = r'(\s\s+?)(?=\S)'
jobs['DescCleaned'] = jobs['Description'].str.lower()
jobs['DescCleaned'] = jobs['DescCleaned'].str.replace(removePattern, "")
jobs['DescCleaned'] = jobs['DescCleaned'].str.replace(addSpacePattern, " ")
jobs['DescCleaned'] = jobs['DescCleaned'].str.replace(removeExtraSpaces, " ")
# Same for Requirements
jobs['ReqCleaned'] = jobs['Requirements'].str.lower()
jobs['ReqCleaned'] = jobs['ReqCleaned'].str.replace(removePattern, "")
jobs['ReqCleaned'] = jobs['ReqCleaned'].str.replace(addSpacePattern, " ")
jobs['ReqCleaned'] = jobs['ReqCleaned'].str.replace(removeExtraSpaces, " ")

C:\Users\btr\AppData\Local\Temp\ipykernel_30896\2104921561.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  jobs['DescCleaned'] = jobs['DescCleaned'].str.replace(removePattern, "")
C:\Users\btr\AppData\Local\Temp\ipykernel_30896\2104921561.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  jobs['DescCleaned'] = jobs['DescCleaned'].str.replace(addSpacePattern, " ")
C:\Users\btr\AppData\Local\Temp\ipykernel_30896\2104921561.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  jobs['DescCleaned'] = jobs['DescCleaned'].str.replace(removeExtraSpaces, " ")
C:\Users\btr\AppData\Local\Temp\ipykernel_30896\2104921561.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  jobs['ReqCleaned'] = jobs['ReqCleaned'].str.replace(removePattern, "")
C:\Users\btr\AppData\Local\Temp\ipykernel_30896\2104921561.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  jobs['ReqCleaned'] = jobs['ReqCleaned'].str.replace(addSpacePattern, " ")
C:\Users\btr\AppData\Local\Temp\ipykernel_30896\2104921561.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  jobs['ReqCleaned'] = jobs['ReqCleaned'].str.replace(removeExtraSpaces, " ")

In [134]:
jobs.head()

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate,DescCleaned,ReqCleaned
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US,20531,2012-03-07 13:17:01.643,2012-04-06 23:59:59,security clearance required top secret job num...,skill set network security tools webdefend web...
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US,28217,2012-03-21 02:03:44.137,2012-04-20 23:59:59,no corp. to corp resumes are being considered ...,what you need four year college degree minimum...
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US,32792,2012-03-02 16:36:55.447,2012-04-01 23:59:59,p/t human resources assistant —— 1-2 years ex...,please refer to the job description to view th...
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:10.077,2012-04-02 23:59:59,city beverages come to work for the best in th...,please refer to the job description to view th...
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:11.88,2012-04-02 23:59:59,i make sure every part of their day is magical...,please refer to the job description to view th...

In [6]:
users.head()

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany
0,47,1,Train,Paramount,CA,US,90723,High School,NaN,1999-06-01 00:00:00,3,10.0,Yes,No,0
1,72,1,Train,La Mesa,CA,US,91941,Master's,Anthropology,2011-01-01 00:00:00,10,8.0,Yes,No,0
2,80,1,Train,Williamstown,NJ,US,08094,High School,Not Applicable,1985-06-01 00:00:00,5,11.0,Yes,Yes,5
3,98,1,Train,Astoria,NY,US,11105,Master's,Journalism,2007-05-01 00:00:00,3,3.0,Yes,No,0
4,123,1,Train,Baton Rouge,LA,US,70808,Bachelor's,Agricultural Business,2011-05-01 00:00:00,1,9.0,Yes,No,0

# Filtering the data using WindowID==1

In [7]:
apps_training = apps[(apps["WindowID"]==1) & (apps["Split"]=="Train")]
apps_test = apps[(apps["WindowID"]==1) & (apps["Split"]=="Test")]
user_history_training = user_history[(user_history["WindowID"]==1) & (user_history["Split"]=="Train")]
user_history_test = user_history[(user_history["WindowID"]==1) & (user_history["Split"]=="Test")]
user_training = users[(users["WindowID"]==1) & (users["Split"]=="Train")]
user_test = users[(users["WindowID"]==1) & (users["Split"]=="Test")]

In [8]:
user_ids_test = set(list(user_test["UserID"].unique()))
user_ids_train = set(list(user_training["UserID"].unique()))
apps_ids_train = set(list(apps_training["UserID"].unique()))
apps_ids_test = set(list(apps_test["UserID"].unique()))
print(len(user_ids_test))
print(len(apps_ids_test))
print(len(apps_ids_train))
print(len(user_ids_test-apps_ids_test))
print(len(apps_ids_test - apps_ids_train))
print(len(user_ids_test-user_ids_train))

5419
3138
60274
2281
3138
5419

In [9]:
print(user_training["DegreeType"].nunique())
print(user_training["Major"].nunique())
print(user_training["Country"].nunique())
user_training = user_training.iloc[0:20000,:]
user_training["DegreeType"] = user_training["DegreeType"].fillna("")
user_training["Major"] = user_training["Major"].fillna("")
user_training["TotalYearsExperience"] = user_training["TotalYearsExperience"].fillna(0)

7
12027
67

In [10]:
user_training.shape

(20000, 15)

# Convert "Major" column into TF-IDF vectors

In [11]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(user_training['Major'])
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tf.get_feature_names())

c:\Users\btr\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [12]:
print(len(list(tf.get_feature_names())))

5684

c:\Users\btr\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

# Concat numerical feature, categorical features and tf-idf vectors for train data

In [13]:
cat_feats = ["DegreeType","CurrentlyEmployed","ManagedOthers"]
num_feats = ["WorkHistoryCount","TotalYearsExperience","ManagedHowMany"]
for col in cat_feats:
    user_training[col] = user_training[col].astype("category")
user_training_cat = user_training[cat_feats]
user_training_num = user_training[num_feats]
user_training_cat = pd.get_dummies(user_training_cat,drop_first=True)
user_training_num_cat = pd.concat([tfidf_df.reset_index(drop=True),user_training_num.reset_index(drop=True),user_training_cat.reset_index(drop=True)],axis=1,ignore_index=True)

# Scaling different features onto same scale

In [14]:
from sklearn.preprocessing import MinMaxScaler
def scaler(X):
    scale = MinMaxScaler()
    colnames = X.select_dtypes(include=['float64','int64']).columns.to_list()
    #colnames.remove("salary") #salary is target variable
    print('\nThe following columns are scaled:\n')
    #print(colnames)
    scale.fit(X[colnames])
    X[colnames] =  scale.transform(X[colnames])
    return X,scale

In [15]:
user_training_num_cat.info()
user_training_num_cat,scaler_user = scaler(user_training_num_cat)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Columns: 5695 entries, 0 to 5694
dtypes: float64(5685), int64(2), uint8(8)
memory usage: 867.9 MB

The following columns are scaled:

In [16]:
user_training_num_cat.isnull().sum()

0       0
1       0
2       0
3       0
4       0
       ..
5690    0
5691    0
5692    0
5693    0
5694    0
Length: 5695, dtype: int64

# Use K nearest neighbour for similar user search

In [17]:
from sklearn.neighbors import NearestNeighbors
neigh_users = NearestNeighbors(n_neighbors=5, n_jobs=-1) 
neigh_users.fit(user_training_num_cat)

NearestNeighbors(n_jobs=-1)

In [18]:
user_test.shape

(5419, 15)

# Processing for test users

In [25]:
user_test["DegreeType"] = user_test["DegreeType"].fillna("")
user_test["Major"] = user_test["Major"].fillna("")
user_test["TotalYearsExperience"] = user_test["TotalYearsExperience"].fillna(0)

# Tranform test users using TF-IDF(use "Major" column)

In [20]:
tfidf_matrix = tf.transform(user_test['Major'])
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tf.get_feature_names())

c:\Users\btr\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

# Concat numerical feature, categorical features and tf-idf vectors for test data

In [21]:
for col in cat_feats:
    user_test[col] = user_test[col].astype("category")
user_test_cat = user_test[cat_feats]
user_test_num = user_test[num_feats]
user_test_cat = pd.get_dummies(user_test_cat,drop_first=True)
user_test_cat = user_test_cat.reindex(columns = user_training_cat.columns,fill_value=0)
user_test_num_cat = pd.concat([tfidf_df.reset_index(drop=True),user_test_num.reset_index(drop=True),user_test_cat.reset_index(drop=True)],axis=1,ignore_index=True)

C:\Users\btr\AppData\Local\Temp\ipykernel_30896\4083328718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_test[col] = user_test[col].astype("category")
C:\Users\btr\AppData\Local\Temp\ipykernel_30896\4083328718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_test[col] = user_test[col].astype("category")
C:\Users\btr\AppData\Local\Temp\ipykernel_30896\4083328718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_test[col] = user_test[col].astype("category")

# Tranform test user using training scaler

In [22]:
print(user_training_num_cat.shape)
print(user_test_num_cat.shape)
colnames = user_test_num_cat.select_dtypes(include=['float64','int64']).columns.to_list()
user_test_num_cat[colnames] = scaler_user.transform(user_test_num_cat[colnames])

(20000, 5695)
(5419, 5695)

# Function to perform collaborative filtering using similar users

In [28]:
def get_cfr(users_input):
    res = neigh_users.kneighbors(users_input, return_distance=False)
    ind = 0
    users_recommendation={}
    for sim_users in res:
        print(user_test.iloc[ind:ind+1,:])
        sim_user_ids = list()
        for sim_user in sim_users:
            sim_user_ids.append(int(user_training.iloc[sim_user:sim_user+1,:]["UserID"]))
            print(user_training.iloc[sim_user:sim_user+1,:])
        print(sim_user_ids)
        df1 = apps_training[apps_training['UserID'].isin(sim_user_ids)][['JobID']]
        joblist = df1['JobID'].tolist()
        #print("listed jobs are: ")
        #print(joblist)
        df_temp = jobs[jobs['JobID'].isin(joblist)][['JobID','Title','Description','City','State']]
        #print(user_test.iloc[ind:ind+1,:]["UserID"])
        #users_recommendation[int(user_test.iloc[ind:ind+1,:]["UserID"])] = joblist
        print(df_temp)
        #input()
        if ind>=4:
            break
        ind+=1
    return users_recommendation

user_recommendation = get_cfr(user_test_num_cat)

    UserID  WindowID Split      City State Country ZipCode  DegreeType  \
31     767         1  Test  Murrieta    CA      US   92562  Bachelor's

                          Major       GraduationDate  WorkHistoryCount  \
31  University Studies/Business  2008-05-01 00:00:00                 5

    TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
31                  16.0                No            No               0
      UserID  WindowID  Split     City State Country ZipCode  DegreeType  \
3770   87637         1  Train  Watauga    TX      US   76148  Bachelor's

                   Major       GraduationDate  WorkHistoryCount  \
3770  University Studies  2011-01-01 00:00:00                 2

      TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
3770                  14.0                No            No               0
       UserID  WindowID  Split       City State Country ZipCode  DegreeType  \
18762  373207         1  Train  Arlington    TX      US   76006  Bachelor's

                    Major       GraduationDate  WorkHistoryCount  \
18762  University Studies  2012-04-01 00:00:00                 8

       TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
18762                   6.0               NaN            No               0
       UserID  WindowID  Split        City State Country ZipCode  DegreeType  \
14890  288219         1  Train  Woodbridge    NJ      US   07095  Bachelor's

      Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
14890        2007-01-01 00:00:00                 5                  17.0

      CurrentlyEmployed ManagedOthers  ManagedHowMany
14890                No            No               0
       UserID  WindowID  Split        City State Country ZipCode  DegreeType  \
16352  318502         1  Train  The Colony    TX      US   75056  Bachelor's

      Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
16352        2001-01-01 00:00:00                 5                  15.0

      CurrentlyEmployed ManagedOthers  ManagedHowMany
16352               NaN            No               0
       UserID  WindowID  Split      City State Country ZipCode  DegreeType  \
17878  352991         1  Train  Brooklyn    NY      US   11226  Bachelor's

      Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
17878        2002-02-01 00:00:00                 5                  18.0

      CurrentlyEmployed ManagedOthers  ManagedHowMany
17878                No            No               0
[87637, 373207, 288219, 318502, 352991]
          JobID                                              Title  \
66812    262053                                 PAYROLL SPECIALIST
71853    283053                               Part Time Bookkeeper
71976    283389                             Bookkeeper - Full Time
112110   442616                           Administrative Assistant
161365   630942  Office Mgr/Bookkeeper  Mon - Fri 8:30am - 4:30...
248475   972229                                Sourcing Specialist
258877  1014671                                              Buyer

                                              Description         City State
66812   <p><span>We currently seek an experienced prof...       Dayton    NJ
71853   <ul>\r    <li>Part time Bookkeeper - 10 hours ...        Union    NJ
71976   Full Charge Bookkeeper needed - Knowledge of Q...  Mount Holly    NJ
112110  <p>Americold is the largest provider of temper...   Fort Worth    TX
161365  <p align="center">\r\n      Office Mgr/Bookkee...  Englishtown    NJ
248475  The Sourcing Specialist researches and identif...        Plano    TX
258877  <p><strong><span>In this position, Manufacturi...   Royse City    TX
    UserID  WindowID Split     City State Country ZipCode  DegreeType  \
32     769         1  Test  Roselle    IL      US   60172  Bachelor's

               Major       GraduationDate  WorkHistoryCount  \
32  Radio-Television  2011-05-01 00:00:00                 5

    TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
32                   5.0               Yes            No               0
      UserID  WindowID  Split        City State Country ZipCode  DegreeType  \
2684   62458         1  Train  Fort Worth    TX      US   76126  Bachelor's

                     Major       GraduationDate  WorkHistoryCount  \
2684  Radio and Television  1984-01-01 00:00:00                 6

      TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
2684                  28.0               Yes           Yes              11
      UserID  WindowID  Split      City State Country ZipCode  DegreeType  \
4139   96653         1  Train  Brooklyn    NY      US   11201  Bachelor's

     Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
4139        2009-01-01 00:00:00                 5                   5.0

     CurrentlyEmployed ManagedOthers  ManagedHowMany
4139               Yes            No               0
      UserID  WindowID  Split     City State Country ZipCode  DegreeType  \
8655  182358         1  Train  Phoenix    AZ      US   85008  Bachelor's

     Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
8655        2011-12-01 00:00:00                 5                   7.0

     CurrentlyEmployed ManagedOthers  ManagedHowMany
8655               Yes            No               0
      UserID  WindowID  Split     City State Country ZipCode  DegreeType  \
8665  182569         1  Train  Norwood    OH      US   45212  Bachelor's

     Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
8665        2009-12-01 00:00:00                 5                   7.0

     CurrentlyEmployed ManagedOthers  ManagedHowMany
8665               Yes            No               0
       UserID  WindowID  Split        City State Country ZipCode  DegreeType  \
14005  271972         1  Train  Canonsburg    PA      US   15317  Bachelor's

      Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
14005        2004-05-01 00:00:00                 5                   8.0

      CurrentlyEmployed ManagedOthers  ManagedHowMany
14005               Yes            No               0
[62458, 96653, 182358, 182569, 271972]
          JobID                                              Title  \
63940    250768                             PATIENT HEALTH PARTNER
84756    331309     Program Manager / BHT's / BHT-T's / Caregivers
123365   485341     Sales - Sales Management (Sales and Marketing)
189344   743410  Prescription Drug Monitoring Account Executive...
205067   803088                                  Territory Manager
218138   854638           Sales & Marketing - Health Care Industry
219306   859056           Senior Account Manager - Pittsburgh (RR)
250459   981381                   Outside Sales Rep – $70k - $100k
258646  1013752                                  Director of Sales

                                              Description         City State
63940   <div>\r<p><strong>Patient Health Partner</stro...  East Meadow    NY
84756   Program Managers/ BHT's/ BHT-T's/ Caregivers \...      Phoenix    AZ
123365  <p><strong><span>Job Description</span></stron...       Dallas    TX
189344  There's quite a distance between wondering and...   Pittsburgh    PA
205067  <p style="text-align: justify;"><span>Horizon ...       Dallas    TX
218138  <p>If you are a Marketing Rep., Sales Represen...       Dallas    TX
219306  Join our team and take your career to the next...   Pittsburgh    PA
250459  Cincinnati-based<STRONG> Cintas</STRONG> is th...       Dallas    TX
258646  <p><b><span>&nbsp;</span></b></p>\r<p><b>True ...       Dallas    TX
    UserID  WindowID Split    City State Country ZipCode   DegreeType  \
33     861         1  Test  Morris    IL      US   60450  High School

              Major       GraduationDate  WorkHistoryCount  \
33  General Studies  1989-05-01 00:00:00                 7

    TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
33                  21.0               NaN            No               0
      UserID  WindowID  Split     City State Country ZipCode   DegreeType  \
1203   27464         1  Train  Deltona    FL      US   32738  High School

                Major       GraduationDate  WorkHistoryCount  \
1203  General Studies  1988-06-01 00:00:00                 7

      TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
1203                  19.0               NaN            No               0
      UserID  WindowID  Split          City State Country ZipCode  \
5748  129269         1  Train  Reisterstown    MD      US   21136

       DegreeType            Major       GraduationDate  WorkHistoryCount  \
5748  High School  General Studies  1993-06-01 00:00:00                 7

      TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
5748                  17.0                No            No               0
     UserID  WindowID  Split           City State Country ZipCode  \
978   22780         1  Train  Mount Clemens    MI      US   48043

      DegreeType            Major       GraduationDate  WorkHistoryCount  \
978  High School  General Studies  1994-06-01 00:00:00                 7

     TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
978                  17.0                No            No               0
       UserID  WindowID  Split         City State Country ZipCode  \
12045  237412         1  Train  Saint Louis    MO      US   63137

        DegreeType            Major       GraduationDate  WorkHistoryCount  \
12045  High School  General Studies  1982-05-01 00:00:00                 8

       TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
12045                  22.0                No            No               0
       UserID  WindowID  Split      City State Country ZipCode   DegreeType  \
19183  383804         1  Train  Chandler    AZ      US   85286  High School

                 Major       GraduationDate  WorkHistoryCount  \
19183  General Studies  1990-01-01 00:00:00                 8

       TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
19183                  19.0                No            No               0
[27464, 129269, 22780, 237412, 383804]
          JobID                             Title  \
71523    281804          Administrative Assistant
165280   645658  Sous Chef for Seasons 52-Orlando
260962  1022785                 General Warehouse

                                              Description               City  \
71523   Highly successful Commercial Property Manageme...           Timonium
165280  <p>Being a Restaurant Manager is challenging, ...  Altamonte Springs
260962  Prologistix is hiring for general warehouse wo...          Bridgeton

       State
71523     MD
165280    FL
260962    MO
    UserID  WindowID Split          City State Country ZipCode   DegreeType  \
38    1006         1  Test  West Chester    PA      US   19382  High School

             Major       GraduationDate  WorkHistoryCount  \
38  Not Applicable  2008-06-01 00:00:00                 3

    TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
38                   6.0               Yes            No               0
     UserID  WindowID  Split       City State Country ZipCode   DegreeType  \
179    4332         1  Train  Arlington    TX      US   76013  High School

              Major       GraduationDate  WorkHistoryCount  \
179  Not Applicable  2006-01-01 00:00:00                 3

     TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
179                   6.0               Yes            No               0
     UserID  WindowID  Split       City State Country ZipCode   DegreeType  \
938   21618         1  Train  Galesburg    IL      US   61401  High School

              Major       GraduationDate  WorkHistoryCount  \
938  Not Applicable  2004-12-01 00:00:00                 3

     TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
938                   6.0               Yes            No               0
     UserID  WindowID  Split    City State Country ZipCode   DegreeType  \
353    8074         1  Train  Odessa    TX      US   79763  High School

              Major       GraduationDate  WorkHistoryCount  \
353  Not Applicable  2011-01-01 00:00:00                 3

     TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
353                   6.0               Yes            No               0
     UserID  WindowID  Split            City State Country ZipCode  \
198    4688         1  Train  Bonner Springs    KS      US   66012

      DegreeType           Major       GraduationDate  WorkHistoryCount  \
198  High School  Not Applicable  2010-01-01 00:00:00                 3

     TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
198                   6.0               Yes            No               0
     UserID  WindowID  Split     City State Country ZipCode   DegreeType  \
631   14840         1  Train  Chicago    IL      US   60629  High School

              Major       GraduationDate  WorkHistoryCount  \
631  Not Applicable  2009-06-01 00:00:00                 3

     TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
631                   6.0               Yes            No               0
[4332, 21618, 8074, 4688, 14840]
         JobID                                              Title  \
16585    63770                  Sales Executive / Account Manager
96052   377450                    Management Trainee -Kewanee, IL
126492  497088                                  Chemical Operator
127751  501522                                   Front Desk Admin
188880  741664  Inbound Customer Service Call Center Reps Need...
219665  860430                                   GENERAL MANAGERS

                                              Description        City State
16585   <hr>\r<p align="center"><strong>Sales Executiv...   Galesburg    IL
96052   <strong>Summary</strong> \r\nLearn to be a LEA...     Kewanee    IL
126492  <p style="text-align: justify"><span>Do you wa...     Chicago    IL
127751  If you are a well rounded, personable individu...   Arlington    TX
188880  <ul>\r    <li>Working in a high volume call ce...  Lewisville    TX
219665  <DIV>\r<DIV><B>          Party City is hiring!...   Arlington    TX
    UserID  WindowID Split        City State Country ZipCode  DegreeType  \
44    1192         1  Test  Cincinnati    OH      US   45255  Bachelor's

        Major GraduationDate  WorkHistoryCount  TotalYearsExperience  \
44  Marketing            NaN                 5                   6.0

   CurrentlyEmployed ManagedOthers  ManagedHowMany
44               Yes            No               0
      UserID  WindowID  Split     City State Country ZipCode  DegreeType  \
6817  149379         1  Train  Roanoke    VA      US   24018  Bachelor's

          Major GraduationDate  WorkHistoryCount  TotalYearsExperience  \
6817  Marketing            NaN                 5                   7.0

     CurrentlyEmployed ManagedOthers  ManagedHowMany
6817               Yes            No               0
      UserID  WindowID  Split     City State Country ZipCode  DegreeType  \
8457  178670         1  Train  Reading    PA      US     NaN  Bachelor's

          Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
8457  Marketing  2005-04-01 00:00:00                 5                   7.0

     CurrentlyEmployed ManagedOthers  ManagedHowMany
8457               Yes            No               0
     UserID  WindowID  Split            City State Country ZipCode  \
223    5211         1  Train  Pembroke Pines    FL      US   33025

     DegreeType      Major       GraduationDate  WorkHistoryCount  \
223  Bachelor's  Marketing  2012-03-01 00:00:00                 5

     TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
223                   7.0               Yes            No               0
       UserID  WindowID  Split    City State Country ZipCode  DegreeType  \
19748  397357         1  Train  Apopka    FL      US   32703  Bachelor's

           Major GraduationDate  WorkHistoryCount  TotalYearsExperience  \
19748  marketing            NaN                 5                   5.0

      CurrentlyEmployed ManagedOthers  ManagedHowMany
19748               Yes            No               0
       UserID  WindowID  Split    City State Country ZipCode  DegreeType  \
16453  320912         1  Train  Euless    TX      US   76039  Bachelor's

           Major       GraduationDate  WorkHistoryCount  TotalYearsExperience  \
16453  Marketing  2009-01-01 00:00:00                 5                   8.0

      CurrentlyEmployed ManagedOthers  ManagedHowMany
16453               Yes            No               0
[149379, 178670, 5211, 397357, 320912]
          JobID                                     Title  \
21681     86086               COLLISION CENTER ESTIMATORS
56067    220600                               Salespeople
93999    368906  Commercial Lending, Relationship Manager
129803   508688                     Collection Specialist
138479   545136              Automotive Sales Consultants
153171   601001                      Assistant Controller
190274   747531                     Health Service Agents
196020   769451                     Collector I ~ Orlando
215397   845074              Automotive Sales Consultants
254533   996275           Traffic & Logistics Coordinator
272581  1067358            Senior Event Marketing Manager

                                              Description             City  \
21681   <b><span style="text-decoration: underline">\r...  Fort Lauderdale
56067   <p align="center"><strong>LEXUS</strong></p><p...      North Miami
93999   Susquehanna Bank has an excellent opportunity ...       Pottsville
129803  <span>\r<p>United Collection Bureau, Inc. (UCB...          Miramar
138479  <p style="text-align: center" align="center"><...  Fort Lauderdale
153171  Assistant Controller\r\n </B>Immediate opening...        Allentown
190274  <p><span>Connextions Inc. operates five fully ...          Orlando
196020  Envision your career with one of the world's l...          Orlando
215397  <p style="text-align: center" align="center"><...            Davie
254533  <b>Job ID:</b> 2043\r\n\r\n<b>Position Descrip...        Robesonia
272581  <STRONG>About JPMorgan Chase:</STRONG><BR> <ST...           Dallas

       State
21681     FL
56067     FL
93999     PA
129803    FL
138479    FL
153171    PA
190274    FL
196020    FL
215397    FL
254533    PA
272581    TX

# Filter jobs using WindowID==1

In [10]:
jobs = pd.read_csv('jrs_data/jobs.tsv', delimiter='\t',encoding='utf-8', error_bad_lines=False)
jobs_US= jobs[(jobs["WindowID"]==1) & (jobs["Country"]=="US")]
jobs_US = jobs_US.iloc[0:10000,0:8]

C:\Users\btr\AppData\Local\Temp\ipykernel_10568\1408448533.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  jobs = pd.read_csv('jrs_data/jobs.tsv', delimiter='\t',encoding='utf-8', error_bad_lines=False)
Skipping line 122433: expected 11 fields, saw 12

Skipping line 602576: expected 11 fields, saw 12

Skipping line 990950: expected 11 fields, saw 12

C:\Users\btr\AppData\Local\Temp\ipykernel_10568\1408448533.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs = pd.read_csv('jrs_data/jobs.tsv', delimiter='\t',encoding='utf-8', error_bad_lines=False)

In [11]:
jobs_US.head()

,JobID,WindowID,Title,Description,Requirements,City,State,Country
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US

# clean Title and Description, and append both into Description column

In [35]:
jobs_US["Title"] = jobs_US["Title"].fillna("")
jobs_US["Description"] = jobs_US["Description"].fillna("")
#jobs_US["Requirements"] = jobs_US["Requirements"].fillna("")
jobs_US["Description"] = jobs_US["Title"] + " "+ jobs_US["Description"] #+ " "+ jobs_US["Requirements"]

# Fit and Generate TF-IDF vectors for the jobs(using Description)

In [36]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix_jobs = tf.fit_transform(jobs_US['Description'])
#tfidf_matrix_jobs_df = pd.DataFrame(tfidf_matrix_jobs.toarray(), columns=tf.get_feature_names())

# Nearest Neighbor search for the similar jobs

In [37]:
from sklearn.neighbors import NearestNeighbors
neigh_users = NearestNeighbors(n_neighbors=5, n_jobs=-1) 
neigh_users.fit(tfidf_matrix_jobs)

NearestNeighbors(n_jobs=-1)

In [38]:
user_test = user_test[user_test["Country"]=="US"]
user_test.head()
user_test.shape

(5404, 15)

# Function to perform content based recommendation using similar job profiles

In [55]:
def get_cbr(user_test):
    ind = 0
    for _,user_row in user_test.iterrows():
        print(user_row["UserID"])
        user_applied_job_ids = list(apps_test[apps_test["UserID"]==int(user_row["UserID"])]["JobID"].unique())[:10]
        user_profile = user_row["DegreeType"] + " "+ user_row["Major"]
        user_jobs_text = ""
        user_jobs_text = " ".join(list(jobs_US[jobs_US["JobID"].isin(user_applied_job_ids)]["Description"].dropna().unique()))
        #print(user_jobs_text)
        user_history_text = " ".join(list(user_history_test[user_history_test["UserID"]==int(user_row["UserID"])]["JobTitle"].dropna().unique()))
        user_profile += (" "+ user_history_text)
        print(user_profile)
        #print(user_history_text)
        tf_idf_user = tf.transform([user_profile])
        job_recommend_inds = neigh_users.kneighbors(tf_idf_user, return_distance=False)
        print(list(job_recommend_inds[0]))
        for id in list(job_recommend_inds[0]):
            print(jobs_US.iloc[id:id+1,:]["Title"])
        if ind>=5:
            break
        ind+=1

In [56]:
get_cbr(user_test)

767
Bachelor's University Studies/Business Claims Adjuster Professional Baseball Player
[3814, 2682, 8882, 7177, 5064]
3817    c.n.a.
Name: Title, dtype: object
2684    Sr Claims Adjuster-Minneapolis
Name: Title, dtype: object
8885    Claims Coordinator / Adjuster Trainee
Name: Title, dtype: object
7180    IT Professional
Name: Title, dtype: object
5067    A/P Professional
Name: Title, dtype: object
769
Bachelor's Radio-Television Shoe Fit Specialist WGCI, Programming Intern Hip Hop Director/DJ Teller Head Cashier
[3814, 9451, 2370, 2371, 2361]
3817    c.n.a.
Name: Title, dtype: object
9454    Programming Specialist
Name: Title, dtype: object
2372    Teller
Name: Title, dtype: object
2373    Teller
Name: Title, dtype: object
2363    Teller
Name: Title, dtype: object
861
High School General Studies Building Manager Independent Avon Rep Assistant Manager Crew Manage Office Manager Bartender
[3814, 3543, 5932, 4422, 9560]
3817    c.n.a.
Name: Title, dtype: object
3546    Office Manager
Name: Title, dtype: object
5935    Office Manager
Name: Title, dtype: object
4425    OFFICE MANAGER
Name: Title, dtype: object
9563    Office Manager
Name: Title, dtype: object
1006
High School Not Applicable Photo Supervisor Custodian Mailroom Clerk
[4927, 3814, 256, 305, 8430]
4930    Mailroom Clerk
Name: Title, dtype: object
3817    c.n.a.
Name: Title, dtype: object
256    Supervisor of Instruction High School
Name: Title, dtype: object
305    HIGH SCHOOL ASSISTANT PRINCIPAL
Name: Title, dtype: object
8433    Transformational  High School Principal  Eleme...
Name: Title, dtype: object
1192
Bachelor's Marketing Marketing Intern Assistant Retail Assistant Data Entry Cashier
[3814, 2691, 772, 4493, 5774]
3817    c.n.a.
Name: Title, dtype: object
2693    Data Entry/Administrative Assistant
Name: Title, dtype: object
772    Assistant Retail Store Manager
Name: Title, dtype: object
4496    E-Marketing Assistant
Name: Title, dtype: object
5777    H/R Assistant
Name: Title, dtype: object
2003
High School  Picker/Cherry picker operator Picker/Packer Warehouse Worker
[3814, 5958, 6274, 4435, 305]
3817    c.n.a.
Name: Title, dtype: object
5961    Order Picker
Name: Title, dtype: object
6277    Warehouse Worker
Name: Title, dtype: object
4438    Warehouse Worker
Name: Title, dtype: object
305    HIGH SCHOOL ASSISTANT PRINCIPAL
Name: Title, dtype: object